<form method="POST" action="{{path('blog_logout', {'_locale': 'en'})}}">
    <button type="submit" class="tracking-widest hover:text-stone-500">
        {%trans%}Logout{%endtrans%}
    </button>
</form>
